* {
  box-sizing: border-box;
}

body {
  /* 사파리에서 폰트가 못생겨보임 - 해결못함 */
  font-family: "Noto Sans KR", sans-serif, "Apple SD Gothic Neo",
    apple sd gothic neo;
  height: 100%;
  margin: 0;
}

@media only screen and (min-width: 769px) {
  /* PC */
  .mainNav {
    height: 104px;
    background-color: #070e27;
    width: 100vw;
    margin-top: 0px;
    padding: 27px;
    display: flex;
  }

  .mainNav-group-logo {
    float: left;
    width: 158px;
    height: 32px;
    background: url("./img/NavLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 9px;
  }

  .form-wrap {
    display: inline-block;
    margin: auto;
    width: 517px;
  }

  .mainNav-search-wrap {
    width: 517px;
    height: 50px;
    border-radius: 15px;
    background: #f0f0f0;
    padding: 10px;
    display: table;
    table-layout: fixed;
    position: relative;
    text-align: left;
  }

  .Lens {
    background: url("./img/Lens.png");
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
  }

  .mainNav-search {
    border: 1px solid red;
    width: 410px;
    height: 30px;
    outline: none;
    font-size: 18px;
    line-height: 21px;
    background-color: #f0f0f0;
    border: none;
    position: relative;
    vertical-align: middle;
    display: inline-block;
  }

  .mainNav-icon {
    width: 60px;
    height: 60px;
    background-color: #ededed;
    border-radius: 50px;
    padding: 18px;
    margin-right: 16px;
    float: right;
    left: 10px;
  }

  .mainNav-btn {
    width: 40px;
    height: 30px;
    font-size: 18px;
    line-height: 21px;
    color: #0059f7;
    display: inline-block;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
  }

  .mainNav-create {
    background: url("./img/Add.png");
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
    display: inline-block;
  }

  .mainNav-my {
    background: url("./img/User.png");
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
    display: inline-block;
  }

  #nav-form {
    width: 600px;
    margin: 0px;
  }

  /* loading 로딩 */
  .loading-wrap {
    z-index: 999;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(13, 14, 44, 1);
    display: grid;
    place-items: center;
  }

  .loading {
    height: 100%;
  }

  /* ===== mainFooter =====*/
  .mF-container {
    background: #0a142f;
    margin: auto;
    bottom: 0;
  }
  .mainFooter {
    height: 275px;
    background: #0a142f;
    padding: 63px 183px 34px;
  }

  .footer-wrap {
    height: 91px;
    width: 714px;
    text-align: left;
    margin: auto;
  }

  .mF-footer-logo {
    float: left;
    width: 69px;
    height: 85px;
    background-color: #0059f7;
    background: url("./img/footer_logo.png");
    background-position: center;
    background-size: contain;
  }

  .mF-UI-about {
    float: left;
    margin-left: 16%;
    width: 130px;
    height: 67px;
  }

  .mF-UI-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 29px;
  }
  .mF-UI-text {
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    font-weight: 900;
    opacity: 0.7;
    float: left;
    margin-right: 24px;
  }

  .mF-contact {
    display: inline-block;
    width: 326px;
    height: 75px;
    margin-left: 5%;
  }

  .mF-contact-title {
    float: left;
    line-height: 16px;
    color: #ffffff;
  }

  .mF-contact-name {
    float: left;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    margin-right: 11px;
    text-decoration: none;
  }

  .contact-back {
    float: left;
    margin-left: 30px;
  }

  .mf-divider {
    margin-top: 40px;
    opacity: 0.15;
    border: 1px solid #ffffff;
  }

  .mF-footer-title {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }

  .mF-footer2 {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    opacity: 0.75;
    margin-top: 30px;
  }

  /* ===== top button 탑 버튼===== */
  .topbutton {
    width: 55px;
    height: 55px;
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    padding: 12px;
    cursor: pointer;
  }

  .topbutton > div {
    width: 30px;
    height: 30px;
    background: url("./img/ArrowTop.png");
    background-size: contain;
  }

  /* ===== Makepost page 갤러리 만들기===== */
  .MP-container {
    background-color: #070e27;
    width: 100vw;
    height: auto;
    color: #fff;
    padding-bottom: 100px;
  }

  .MP-wrap {
    width: 840px;
    height: auto;
    margin: auto;
    text-align: left;
    border: 1px solid #070e27;
  }

  .MP-title {
    margin-top: 34px;
    font-size: 32px;
    line-height: 37px;
    margin-bottom: 81px;
  }

  .MP-sub-title {
    color: #d4d4d4;
    font-size: 20px;
    line-height: 26px;
  }

  .MP-movie {
    width: 400px;
    height: 52px;
    border: 1px solid #dbe2ea;
    border-radius: 6px;
    padding: 10px;
    color: #7c9cbf;
    background-color: #fff;
    display: inline-block;
  }

  .MP-movie > input {
    width: 300px;
    height: 28px;
    outline-style: none;
    border: none;
    /* font-size: 16px; */
    line-height: 21px;
    display: inline-block;
  }
  .MP-movie > select {
    outline-style: none;
    border: none;
    font-size: 16px;
    line-height: 21px;
    outline: 0 none;
  }

  .MP-movie > input::placeholder {
    color: #7c9cbf;
  }

  .MP-movie-icon {
    background: url("./img/Lens.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    float: right;
  }

  .MP-movie-icondelete {
    background: url("./img/deleteForSearchText.png");
    width: 30px;
    height: 30px;
    background-position: center;
    background-size: contain;
    float: right;
  }

  .MP-movie-DropDownContainer {
    background-color: white;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: -11px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
    margin-top: 8px;
    padding: 0.5rem 15px;
    border: 1px solid rgb(223, 225, 229);
    border-radius: 0 0 1rem 1rem;
    box-shadow: 0 4px 6px rgb(32 33 36 / 28%);
    z-index: 3;

    position: relative;
    font-size: 16px;
    line-height: 21px;
    width: 400px;
  }

  .MP-movie-DropDownContainer > li {
    border: 1px solid rgb(223, 225, 229);
  }

  .MP-photo-label {
    margin-top: 18px;
    margin-bottom: 29px;
    width: 119px;
    height: 43px;
    text-align: center;
    display: inline-block;
    padding: 0.5em 0.75em;
    color: #000;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #e4e4e4;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: 5px;
    padding: 14px;
    cursor: pointer;
    display: inline-block;
  }

  .MP-photo-upload {
    width: 200px;
    display: inline-block;
    margin-left: 15px;
    color: white;
    font-size: inherit;
  }

  .MP-photo-btn {
    position: absolute;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  .MP-input-wrap {
    width: 400px;
    height: 126px;
    margin: auto;
  }

  .MP-photo-wrap {
    width: 400px;
    height: 500px;
    margin: auto;
  }

  .MP-photo-show {
    width: 400px;
    height: 350px;
    background: #202846;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    object-fit: contain;
  }

  .MP-box-wrap {
    width: 400px;
    height: 200px;
    margin: 50px auto;
  }

  #textarea {
    width: 400px;
    height: 146px;
    border-radius: 6px;
    padding: 16px;
    color: #7c9cbf;
    font-size: 16px;
    line-height: 21px;
  }

  .MP-btn-wrap {
    background: #0059f7;
    border-radius: 8px;
    width: 258px;
    height: 56px;
    margin: auto;
    text-align: center;
    margin-top: 38px;
  }

  .MP-btn-wrap > button {
    border-radius: 8px;
    cursor: pointer;
    width: 258px;
    height: 56px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: 0;
    background-color: #0059f7;
  }

  /* ===== Mygallery page 마이갤러리===== */

  .my-g-container {
    background-color: #070e27;
    width: 100vw;
    height: auto;
    color: #fff;
  }

  .my-g-wrap {
    width: 840px;
    height: auto;
    margin: auto;
    text-align: left;
    padding-bottom: 20px;
  }

  .my-g-title-wrap {
    display: flex;
    justify-content: space-between;
  }

  .my-g-title {
    margin-top: 34px;
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
  }

  .my-g-user-wrap {
    margin-top: 34px;
    width: 110px;
    height: 40px;
    display: flex;
    justify-content: right;
  }

  .my-g-account-icon {
    width: 18px;
    height: 18px;
    background: url("./img/account.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 9px;
    margin-right: 10px;
  }

  .my-g-account-name {
    font-size: 16px;
    line-height: 19px;
    align-items: center;
    text-decoration-line: underline;
    color: #ffffff;
    float: right;
    margin-top: 8px;
    cursor: pointer;
  }

  .my-g-hr {
    border: 1px solid #3a456f;
    width: 840px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .my-g-scene-wrap {
    width: 840px;
    margin-bottom: 40px;
    /* height: 428px; */
    /* border: 1px solid red; */
  }

  .my-g-sub-title {
    font-size: 26px;
    line-height: 30px;
    display: inline-block;
    margin-bottom: 20px;
  }

  .my-g-add-wrap {
    width: 110px;
    height: 30px;
    /* border: 1px solid red; */
    float: right;
  }

  .my-g-add-list-wrap {
    width: 125px;
    height: 30px;
    /* border: 1px solid red; */
    float: right;
  }

  .my-g-add-text {
    font-size: 18px;
    line-height: 21px;
    text-decoration-line: underline;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
    color: #fff;
  }

  .my-g-add-icon {
    width: 30px;
    height: 30px;
    background: url("./img/Add_fff.png");
    background-position: center;
    background-size: contain;
    color: #fff;
    float: right;
    margin-right: 12px;
  }

  .my-g-like-hr {
    border: 1px solid #c3c5cc;
    width: 840px;
    margin: 15px 0 15px 0;
  }

  .my-g-like-add-icon {
    width: 30px;
    height: 30px;
    background: url("./img/Add_fff.png");
    background-position: center;
    background-size: contain;
    color: #fff;
    margin-right: 12px;
    display: inline-block;
  }

  .my-g-like-minus-icon {
    width: 30px;
    height: 30px;
    background: url("./img/Minus.png");
    background-position: center;
    background-size: contain;
    color: #fff;
    margin-right: 12px;
    display: inline-block;
  }

  .my-g-like-title {
    font-size: 26px;
    line-height: 30px;
    float: left;
    cursor: pointer;
  }

  .my-g-like-no {
    color: #7c9cbf;
    margin: 5px;
  }

  /* ===== Makegallery page ===== */
  .MG-container {
    background-color: #070e27;
    width: 100vw;
    height: auto;
    color: #fff;
  }

  .MG-wrap {
    width: 614px;
    height: 586px;
    margin: auto;
  }

  .MG-name {
    width: 614px;
    height: 106px;
    margin-bottom: 28px;
  }

  .MG-desc {
    width: 614px;
    height: 200px;
    margin-bottom: 28px;
  }

  .MG-title {
    font-size: 20px;
    line-height: 26px;
    color: #d5d5d5;
  }

  .MG-name > input {
    width: 614px;
    height: 52px;
    outline-style: none;
    border: none;
    font-size: 16px;
    line-height: 21px;
    display: inline-block;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    padding: 16px;
  }

  .MG-name > input::placeholder {
    color: #7c9cbf;
  }

  .MG-desc > textarea {
    width: 614px;
    height: 146px;
    border-radius: 6px;
    padding: 16px;
    font-size: 16px;
    line-height: 21px;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
  }

  .MG-desc > textarea::placeholder {
    color: #7c9cbf;
  }

  .MG-btn {
    width: 180px;
    height: 56px;
    background: #0059f7;
    border-radius: 8px;
    margin: 60px auto;
  }

  .MG-btn > button {
    border-radius: 8px;
    cursor: pointer;
    width: 180px;
    height: 56px;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    border: 0;
    outline: 0;
    background-color: #0059f7;
  }

  /* 나의 장면들 */
  .made-scene-wrap {
    width: 838px;
    height: 142px;
    display: flex;
    flex-flow: column wrap;
    position: relative;
  }
  .bookmarker {
    background: url("./img/bookmark.png");
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: contain;
    left: 154px;
    position: absolute;
    cursor: pointer;
  }

  /* 좋아한 장면 */
  .like-scene-wrap {
    width: 860px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding-top: 20px;
    /* border: 1px solid red; */
  }

  /* 좋아한 갤러리 */
  .like-gallery-container {
    width: 340px;
    height: auto;
    border: 0.972265px solid #344583;
    box-sizing: border-box;
    border-radius: 4.86133px;
    padding: 11px;
    margin-top: 20px;
    margin-right: 20px;
  }

  /* Login Page */
  .login {
    width: 100vw;
    height: auto;
    background: #070e27;
    text-align: center;
  }

  .loginwrap {
    padding-top: 30px;
    margin: auto;
    width: 840px;
    height: auto;
    text-align: center;
    padding-bottom: 100px;
  }

  .lin-title {
    display: inline-block;
    width: 100px;
    height: 42px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    /* line-height: 42px; */
    padding: 3px;
    text-align: center;
    color: #ffffff;
  }

  /* Login 페이지 이메일 그룹 */
  .lin-email {
    margin-top: 68px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 114px;
  }

  .lin-email-title {
    width: 400px;
    height: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    color: #d4d4d4;
    text-align: left;
  }

  .lin-email-input {
    width: 400px;
    height: 60px;
    margin-top: 8px;
    border-radius: 6px;
    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    padding-left: 16px;
    color: #000000;
  }

  .lin-email-warning {
    width: 360px;
    height: 18px;
    margin-top: 8px;
    font-size: 14px;
    line-height: 18px;
    color: #ff7171;
    text-align: left;
  }

  /* Login 페이지 비밀번호 그룹 */
  .lin-password {
    width: 400px;
    height: 114px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
  }

  .lin-password-title {
    width: 400px;
    height: 20px;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    color: #d4d4d4;
    text-align: left;
  }

  .lin-password-input {
    width: 400px;
    height: 60px;
    margin-top: 8px;
    border-radius: 6px;
    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    padding-left: 16px;
    color: #000000;
  }

  .lin-password-warning {
    width: 360px;
    height: 18px;
    margin-top: 8px;
    font-size: 14px;
    line-height: 18px;
    color: #ff7171;
    text-align: left;
  }

  /* Login page - 로그인 버튼 */
  #lin-btnLogin {
    width: 400px;
    height: 56px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    background: #0059f7;
    border-radius: 8px;
    padding: 0px;
    border: 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
  }

  .lin-signup {
    width: 400px;
    height: 60px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 22px;
    font-weight: 500;
    font-size: 16px;
    text-decoration-line: underline;
    color: #ffffff;
  }

  .lin-signup-text {
    width: 58px;
    height: 24px;
    cursor: pointer;
    margin: 0px auto;
  }

  .lin-divider {
    width: 400px;
    height: 0px;
    border: 1px solid #3a456f;
    margin: 20px auto 0px auto;
  }

  /* Login page - 소셜 로그인 버튼 */
  .lin-kakao {
    width: 400px;
    height: 61px;
    /* background-color: #ffe64d; */
    border-radius: 6px;
    margin: 41px auto 0px auto;
    padding: 0px;
    border-width: 0px;
    background: url("../src/img/kakao_login_large_wide.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }

  .lin-google {
    width: 400px;
    height: 61px;
    background: #eeeeee;
    border-radius: 6px;
    margin: 41px auto 0px auto;
    padding: 0px;
    border-width: 0px;
    cursor: pointer;
  }

  .lin-google-logo {
    float: left;
    width: 40px;
    height: 40px;
    background: url("../src/img/btn-google.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: black;
    margin: 10.5px 0px 10.5px 7px;
  }

  .lin-google-text {
    float: left;
    width: 120px;
    height: 26px;
    margin: 17.5px 140px 17.5px 93px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;
    color: #000000;
  }

  /* signup 페이지 */
  .signup {
    width: 100vw;
    height: auto;
    background: #070e27;
    text-align: center;
  }

  .signupwrap {
    width: 840px;
    height: auto;
    margin: 0px auto;
    padding-top: 43px;
    padding-bottom: 100px;
  }

  .signup-title {
    width: 133px;
    height: 43px;
    margin: 0px auto;
    font-size: 36px;
    line-height: 42px;

    color: #ffffff;
  }

  /* signup 페이지 : 이메일 입력 그룹*/
  .signup-email {
    width: 400px;
    height: 114px;
    margin: 68px auto 0px auto;
  }

  .signup-email-title {
    width: 360px;
    height: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #d4d4d4;
    text-align: left;
  }

  .signup-email-input {
    width: 400px;
    height: 60px;
    margin-top: 8px;
    margin-bottom: 8px;
    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    font-size: 20px;
    line-height: 26px;
    padding-left: 16px;
  }

  .signup-email-warning {
    width: 250px;
    height: 18px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #ff7171;
    text-align: left;
  }

  .signup-email-ok {
    width: 250px;
    height: 18px;
    font-size: 14px;
    line-height: 18px;
    color: #0059f7;
    text-align: left;
  }

  .signup-email-check {
    width: 100px;
    height: 34px;
    background: #ffffff;
    border: 1px solid #0880ae;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.0001),
      0px 2px 4px rgba(44, 39, 56, 0.08);
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #5a7fa8;
    position: relative;
    left: 150px;
    bottom: 44px;
    cursor: pointer;
  }

  /* signup 페이지 : 비밀번호 입력 그룹*/
  .signup-password {
    width: 400px;
    height: 114px;
    margin: 40px auto 0px auto;
  }

  .signup-password-warning {
    width: 360px;
    height: 18px;

    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #ff7171;
    text-align: left;
  }

  /* signup 페이지 : 비밀번호 재입력 그룹*/
  .signup-repassword {
    width: 400px;
    height: 114px;
    margin: 40px auto 0px auto;
  }

  /* signup 페이지 : 닉네임 입력 그룹*/
  .signup-nickname {
    width: 400px;
    height: 114px;
    margin: 40px auto 0px auto;
  }

  /* signup 페이지 : 이미지 선택*/
  .signup-image {
    width: 400px;
    height: 20px;
    margin: 40px auto 0px auto;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    color: #d4d4d4;
    text-align: left;
  }

  .signup-image-group {
    width: 400px;
    height: 98px;
    margin: 26px auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 14px;
  }

  .signup-image-group-1 {
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .signup-image-group-1:hover {
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border: 2px solid #0000c5;
  }
  .signup-image-group-1-selected {
    width: 70px;
    height: 70px;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    border: 3px solid #0000c5;
  }

  .signup-btn {
    width: 400px;
    height: 56px;
    margin: 70px auto 0px auto;
    background: #0059f7;
    border-radius: 8px;
    border-width: 0px;
    cursor: pointer;
  }

  .signup-btn-text {
    position: relative;
    width: 74px;
    height: 24px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    color: #ffffff;
    margin: 0px 163px;
    top: 16px;
  }

  /* ===== 랜딩페이지 =====*/
  .landing-main-container {
    height: 935px;
    background-color: #000;
  }

  .landing-main-img {
    background: url("./img/Frame129.png");
    width: 625px;
    height: 524px;
  }

  .landing-main-text {
    position: absolute;
    color: #fff;
    font-size: 64px;
    font-weight: bold;
    margin-top: 315px;
    margin-left: 42px;
    line-height: 80px;
  }

  .landing-main-subt-1 {
    color: #fff;
    font-size: 30px;
    font-weight: lighter;
    line-height: 43px;
    margin-top: 56px;
  }

  .landing-main-subt-1 > hr {
    width: 180px;
    margin: 7px 0 0;
    border: 3px solid #0059f7;
  }

  .landing-main-subt-2 {
    color: #fff;
    margin-top: 104px;
    font-size: 36px;
    line-height: 52px;
    margin-bottom: 99px;
  }

  .landing-2-container {
    height: 562px;
    background-color: #070e27;
    text-align: center;
  }

  .link {
    text-decoration: none;
  }

  .go-to-main-wrap {
    text-align: center;
    background-color: #070e27;
    padding-top: 40px;
  }

  .go-to-main {
    color: #fff;
    font-weight: lighter;
    font-size: 24px;
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
  }

  .landing-2-text-box {
    width: 400px;
    height: 300px;
    margin-right: 20px;
    margin-top: 131px;
    display: inline-block;
    vertical-align: middle;
  }

  .landing-2-icon-1 {
    width: 90px;
    height: 90px;
    background: url("./img/icon1.png");
    background-position: center;
    background-size: contain;
  }
  .landing-2-icon-2 {
    width: 90px;
    height: 90px;
    background: url("./img/icon2.png");
    background-position: center;
    background-size: contain;
  }
  .landing-2-icon-3 {
    width: 90px;
    height: 90px;
    background: url("./img/icon3.png");
    background-position: center;
    background-size: contain;
  }

  .landing-2-text-title {
    margin-top: 29px;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    line-height: 46px;
    color: white;
  }

  .landing-2-img {
    width: 400px;
    height: 300px;
    border: 1px solid red;
    display: inline-block;
    vertical-align: middle;
    margin-top: 131px;
    margin-left: 20px;
    /* background: url(""); */
  }

  .landing-2-text-sub {
    color: #787e95;
    text-align-last: left;
    font-size: 22px;
    line-height: 32px;
    margin-top: 23px;
  }

  .landing-start-wrap {
    height: 430px;
    background-color: #070e27;
  }

  .start-box {
    width: 840px;
    height: 328px;
    background-color: #0059f7;
    border-radius: 24px;
  }

  .start-sub {
    padding-top: 72px;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    opacity: 0.5;
  }

  .start-title {
    padding-top: 16px;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    font-weight: bold;
  }

  .start-btn {
    margin-top: 32px;
    width: 170px;
    height: 64px;
    padding: 20px 24px;
    background: #689eff;
    border-radius: 8px;
    text-align: center;
  }

  .start-btn-text {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    text-align: center;
  }

  .start-btn-arrow {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background: url("./img/arrow-left-fill.png");
  }

  /* ===== Main 메인페이지 ===== */
  .main-back {
    background-color: #070e27;
    width: 100vw;
    height: auto;
    color: #fff;
  }

  .main-wrap {
    width: 1060px;
    height: auto;
    margin: auto;
  }

  .main-text {
    font-size: 32px;
    text-align: left;
    margin-bottom: 28px;
  }

  .main-gallery {
    width: 1060px;
    height: 360px;
  }

  .main-gallery-wrap {
    width: 1060px;
    height: 299px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .main-gallery-Arrowleft {
    width: 20px;
    height: 299px;

    background: url("./img/ArrowLeft.png");
    width: 25px;
    height: 80px;
    background-position: center;
    background-size: cover;
    margin: auto 0px;
  }

  .main-gallery-Arrowright {
    width: 25px;
    height: 80px;

    background: url("./img/ArrowRight.png");
    width: 25px;
    height: 80px;
    background-position: center;
    background-size: cover;
    margin: auto 0px;
  }

  .main-gallery-page {
    width: 1060px;
    height: 30px;
    display: flex;
    justify-content: center;
  }

  .main-gallery-numSelect {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url("./img/SeletedPage.png");
    background-position: center;
    background-size: none;
    background-repeat: no-repeat;
    background-size: 10px;
    margin: auto 0px;
  }

  .main-gallery-numNoSelect {
    width: 30px;
    height: 30px;
    cursor: pointer;
    background: url("./img/NoSeletedPage.png");
    background-position: center;
    background-size: none;
    background-repeat: no-repeat;
    background-size: 10px;
    margin: auto 0px;
  }

  .main-genre {
    width: 1060px;
    margin-top: 80px;
  }

  .main-genre-category-wrap {
    height: 100%;
    width: 100%;
    text-align: left;
  }

  .main-genre-name {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    margin-right: 12px;
    padding: 0px 20px;
    border-radius: 20px;
    background: #ffffff;
    color: #070e27;
    font-size: 20px;
    cursor: pointer;
  }

  .main-genre-name:hover {
    background-color: #0059f7;
    color: #fff;
    transition: 0.3s;
  }

  /* 선택된 것만 색 변경 */
  .main-genre-name-selected {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    margin-right: 12px;
    padding: 0px 20px;
    border-radius: 20px;
    background: #ffffff;
    color: #070e27;
    font-size: 20px;
    cursor: pointer;
    background-color: #0059f7;
    color: #fff;
  }

  .main-genre-img-wrap {
    margin-top: 45px;
    width: 1080px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    cursor: pointer;
  }
  .main-genre-img-addText {
    width: 43px;
    height: 19px;
    margin: 0 auto 0 auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    color: #f4f4f4;
    cursor: pointer;
  }

  .main-genre-img-addImage {
    width: 30px;
    height: 30px;
    margin: -6px auto 0 auto;
    background: url("./img/Chevron\ Bottom.png");
    background-position: center;
    background-size: 30px;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  .main-genre-img-noadd {
    width: 200px;
    height: 50px;
    margin: 0 auto 0 auto;
    text-align: center;
  }

  /* 인기 갤러리 BestGallery */
  .BG-container {
    width: 330px;
    height: 262.51px;
    border: 0.972265px solid #344583;
    box-sizing: border-box;
    border-radius: 4.86133px;
    padding: 11px;
    margin-bottom: 30px;
  }

  .BG-title {
    font-size: 18px;
    line-height: 21px;
    color: #787e95;
    text-align: left;
    margin-top: 6px;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .BG-img-wrap {
    width: 315.49px;
    height: 200.05px;
    display: flex;
    flex-flow: wrap;
  }

  .BG-img {
    width: 157px;
    height: 100px;
    border: 1px solid #eaeaea;
  }

  .BG-img > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .BG-img-no {
    width: 100%;
    height: 100%;
    background: url("../src/img/noresult.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .genre-img {
    width: 250px;
    height: 157px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    border-radius: 8px;
    margin-right: 18px;
    margin-bottom: 20px;
  }

  .genre-img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
  }

  /* ===== Search page ===== */
  .search-container {
    background-color: #070e27;
  }
  .search-wrap {
    margin-top: 43px;
    width: 840px;
    height: auto;
    color: #fff;
    margin-bottom: 100px;
  }

  .search-results {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: left;
    margin-bottom: 38px;
  }

  .results-text {
    font-size: 26px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 23px;
    margin-top: 50px;
  }

  /* ResultScene 검색결과 장면 */
  .result-scene-wrap {
    width: 840px;
    height: auto;
    display: flex;
    flex-flow: wrap;
    justify-content: start;
  }

  .result-scene-img {
    width: 185px;
    height: 122px;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    box-sizing: border-box;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  .result-scene-img > img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    border-radius: 10px;
  }

  /* 검색결과 없는 경우 컴포넌트 */
  .no-results-wrap {
    width: 840px;
    height: 160px;
    border: 1px solid #344583;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 40px;
  }

  .no-results-icon {
    background: url("./img/noresult.png");
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: contain;
    margin: 20px;
  }

  .no-results-text {
    font-size: 18px;
    line-height: 22px;
    color: #c0c0c0;
  }

  /* ResultGallery 검색결과 장면 */
  .result-gallery-wrap {
    width: 840px;
    height: auto;
    display: flex;
    flex-flow: wrap;

    justify-content: space-between;
    margin-bottom: 20px;
  }

  .singupModal-background {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: grid;
    place-items: center;
  }

  .singupModal {
    width: 300px;
    height: 313px;
    margin: 0px auto 0px auto;
    background: #0059f7;
    border-radius: 10px;
  }

  .suM-image {
    position: relative;
    top: 43px;
    width: 80px;
    height: 80px;
    margin: 43px auto 0px auto;
    background: url("../src/img/Signup-ok.png");
    background-position: center;
    background-size: cover;
  }

  .suM-text {
    width: 135px;
    height: 48px;
    margin: 56px auto 0px auto;
    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    text-align: center;

    color: #ffffff;
    word-break: keep-all;
  }

  .suM-btn {
    width: 100px;
    height: 34px;
    margin: 21px auto 0px auto;

    background: #ffffff;
    border-radius: 8px;
    border-width: 0px;

    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #000000;
    cursor: pointer;
  }

  /* userinfo 페이지 */
  .userinfo {
    background: #070e27;
  }

  .userinfowrap {
    margin: auto;
    width: 840px;
    height: auto;
    text-align: center;
    padding-top: 43px;
    padding-bottom: 100px;
  }

  .ui-title {
    width: 208px;
    height: 42px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;
    color: #ffffff;
  }

  /* userinfo 페이지 : 프로필 사진 바꾸기 */
  .ui-image {
    width: 70px;
    height: 70px;
    margin: 27px auto 0 auto;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
  }

  .ui-description {
    width: 173px;
    height: 26px;
    margin: 18px auto 0 auto;

    font-family: Roboto;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    /* identical to box height */

    color: #0059f7;
    cursor: pointer;
  }

  .ui-imagegroup {
    width: 400px;
    height: 144px;
    margin: 28px auto 0 auto;
  }

  .ui-imagegroup-title {
    width: 278px;
    height: 26px;
    text-align: left;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    color: #d4d4d4;
  }

  .ui-imagegroup-wrap {
    width: 400px;
    height: 98px;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 14px;
  }

  .ui-imagegroup-wrap-1 {
    width: 70px;
    height: 70px;
    background: url("../src/img/UserImage-Jake.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .ui-imagegroup-wrap-2 {
    width: 70px;
    height: 70px;
    background: url("../src/img/UserImage-Meg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .ui-imagegroup-wrap-3 {
    width: 70px;
    height: 70px;
    background: url("../src/img/UserImage-Mili.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .ui-imagegroup-wrap-4 {
    width: 70px;
    height: 70px;
    background: url("../src/img/UserImage-Steven.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }

  /* userinfo 페이지 : 닉네임 */
  .ui-nickname {
    width: 400px;
    height: auto;
    margin: 36px auto 0 auto;
  }

  .ui-nickname-title {
    width: 360px;
    height: 20px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    color: #d4d4d4;
    text-align: left;
  }

  .ui-nickname-input {
    width: 400px;
    height: 60px;
    margin: 8px auto 8px auto;

    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    color: #000000;
    padding-left: 16px;
  }

  .ui-nickname-warning {
    width: 360px;
    height: 18px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #ff7171;
    text-align: left;
  }

  .ui-nickname-ok {
    width: 360px;
    height: 18px;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #0059f7;
    text-align: left;
  }

  .ui-nickname-check {
    width: 100px;
    height: 34px;

    background: #ffffff;
    border: 1px solid #0880ae;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.0001),
      0px 2px 4px rgba(44, 39, 56, 0.08);
    border-radius: 3px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #5a7fa8;

    position: relative;
    bottom: 44px;
    left: 300px;

    padding-top: 8px;
    cursor: pointer;
  }

  /* userinfo 페이지 : 패스워드 */
  .ui-password {
    width: 400px;
    height: 114px;
    margin: 58px auto 0 auto;
  }

  .ui-password > input {
    font-size: 16px;
  }

  .ui-btn {
    width: 400px;
    height: 56px;
    margin: 55px auto 0 auto;
    background: #0059f7;
    border-radius: 8px;
    border-width: 0px;
    font-size: 20px;
    line-height: 24px;
    color: #ffffff;
    cursor: pointer;
  }

  .ui-logout {
    width: 59px;
    height: 24px;
    margin: 68px auto 0 auto;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #ffffff;
    cursor: pointer;
  }

  .ui-signout {
    width: 59px;
    height: 24px;
    margin: 16px auto 0 auto;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #ffffff;
    cursor: pointer;
  }

  /* 회원 탈퇴 모달*/
  .singoutModal-background {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #000000;
    display: grid;
    place-items: center;
  }

  .singoutModal {
    width: 300px;
    height: 235px;
    background: #0059f7;
    border-radius: 10px;
  }

  .soM-label {
    position: relative;
    top: 88px;
    width: 300px;
    height: 24px;

    font-family: Roboto;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    text-align: center;
    color: #ffffff;
  }

  .soM-btn {
    position: relative;
    top: 130px;
    width: 300px;
    height: 34px;
  }

  .soM-btn-singout {
    float: left;
    width: 59px;
    height: 24px;
    margin-left: 64px;
    margin-top: 5px;

    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-decoration-line: underline;

    color: #ffffff;
    cursor: pointer;
  }

  .soM-btn-cancel {
    float: left;
    width: 100px;
    height: 34px;
    margin-left: 34px;

    background: #ffffff;
    border-radius: 8px;
    border-width: 0px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #000000;
    cursor: pointer;
  }

  /* Post 페이지 */
  .post {
    width: 100vw;
    height: auto;
    background-color: #070e27;
  }

  .postwrap {
    width: 840px;
    height: auto;
    margin: 0px auto 0px auto;
    padding-bottom: 100px;
  }

  .post-title {
    width: 840px;
    height: 51px;

    font-family: Roboto;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    color: #ffffff;
    text-align: left;
  }

  .post-editgroup {
    width: 840px;
    height: 40px;
    margin-top: -11px;
  }

  .post-edit-btn {
    width: 50px;
    height: 32px;
    float: right;
    margin-top: 5px;
    background: #ffffff;
    border: 1px solid #0880ae;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.0001),
      0px 2px 4px rgba(44, 39, 56, 0.08);
    border-radius: 3px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #5a7fa8;
    cursor: pointer;
  }

  .post-edit-edit {
    width: 40px;
    height: 40px;
    float: right;
    background: url("../src/img/pencil.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
  }

  .post-edit-delete {
    width: 40px;
    height: 40px;
    float: right;
    background: url("../src/img/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
  }

  .post-image {
    width: 840px;
    height: 506px;
    margin-top: 11px;
    border-radius: 5px;
    background: #c4c4c4;
    border-radius: 10px;
  }

  .post-label {
    width: 840px;
    height: 40px;
    margin-top: 22px;
    display: flex;
  }

  .post-label-title {
    width: 397px;
    height: 33px;
    margin-top: 7px;
    font-weight: bold;
    font-size: 26px;
    line-height: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: #ffffff;
  }

  .post-label-like1 {
    width: 40px;
    height: 40px;
    margin-left: auto;
    background: url("../src/img/Heart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
  }

  .post-label-like2 {
    width: 40px;
    height: 40px;
    margin-left: auto;
    background: url("../src/img/FullHeart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
  }

  .post-desc {
    width: 840px;
    height: 68px;
    margin-top: 21px;
    font-size: 28px;
    line-height: 33px;
    color: #ffffff;
    text-align: left;
    word-break: keep-all;
    white-space: pre-line;
  }

  .post-editdesc {
    width: 840px;
    height: 68px;
    margin-top: 21px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 28px;
    line-height: 33px;

    color: black;
    text-align: left;
    word-break: keep-all;
    white-space: pre-line;
    border-radius: 8px;
    overflow: hidden;
  }

  .post-devider {
    width: 840px;
    height: 0px;
    border: 1px solid #3a456f;
    margin-top: 42px;
  }

  .post-infogroup {
    width: 500px;
    height: max-content;
    margin-top: 14px;
    cursor: pointer;
  }

  .post-infogroup-label {
    width: 95px;
    height: 25px;
    margin-left: 12px;
    margin-top: 4px;

    font-family: Roboto;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #ffffff;
    float: left;
  }

  .post-infogroup-plusminus {
    width: 30px;
    height: 30px;
    margin-left: 12px;
    display: flex;
    align-items: center;

    color: #ffffff;
    cursor: pointer;
  }

  .post-infogroup-plus {
    width: 30px;
    height: 30px;
    background: url("./img/Add_fff.png");
    background-position: center;
    background-size: contain;
    color: #fff;
    display: inline-block;
  }

  .post-infogroup-minus {
    width: 30px;
    height: 30px;
    background: url("./img/Minus.png");
    background-position: center;
    background-size: contain;
    color: #fff;
    display: inline-block;
  }

  .post-infogroup-list {
    width: auto;
    height: 22px;
    margin-top: 13px;
    margin-left: 22px;
    font-family: Roboto;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    /* or 145% */
    color: #ffffff;
    text-align: left;
    list-style-type: disc;
  }

  .post-devider2 {
    width: 840px;
    height: 0px;
    border: 1px solid #3a456f;
    margin-top: 17px;
  }

  .post-writecomment {
    width: 840px;
    height: 70px;
    margin-top: 37px;
  }

  .post-wc-image {
    width: 70px;
    height: 70px;
    margin-left: 22px;
    float: left;
    border-radius: 50%;
  }

  .post-wc-input {
    width: 730px;
    height: 68px;
    margin: 1px 0 1px 18px;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;

    background: #ffffff;
    border-radius: 8px;
    border-width: 0px;
    color: black;
    padding-left: 16px;
  }

  .post-writecomment > input::placeholder {
    color: #7c9cbf;
  }

  .post-wc-submit {
    width: 37px;
    height: 26px;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #0059f7;
    position: relative;
    bottom: 48px;
    left: 791px;
    cursor: pointer;
  }

  .post-comments {
    width: 810px;
    height: auto;
    margin-left: 30px;
    margin-top: 42px;
  }

  .post-comment-no {
    color: #7c9cbf;
  }

  .post-mycomment {
    width: 810px;
    height: 110px;
  }

  .post-mycomment-group1 {
    width: 60px;
    height: 110px;
    float: left;
  }

  .post-mycomment-group1-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }

  .post-mycomment-group2 {
    width: 740px;
    height: 110px;
    float: left;
    margin-left: 10px;
  }

  .post-mycomment-group2-nickname {
    width: 102px;
    height: 29px;
    margin-top: 8px;
    font-weight: bold;
    font-size: 22px;
    line-height: 29px;
    /* identical to box height */

    color: #ffffff;
    text-align: left;
  }

  .post-mycomment-group2-comment {
    width: 582px;
    height: 27px;
    margin-top: 13px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;

    color: #ffffff;
    text-align: left;
  }

  .post-mycomment-group2-delete {
    width: 50px;
    height: 50px;

    background: url("../src/img/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    position: relative;
    bottom: 85px;
    left: 700px;
    cursor: pointer;
  }

  /* Gallery 페이지*/
  .gallery {
    width: 100vw;
    height: auto;
    background: #070e27;
  }

  .gallerywrap {
    width: 840px;
    height: auto;
    margin: 0px auto 0px auto;
    padding-top: 43px;
    padding-bottom: 43px;
  }

  .gallery-nickname {
    width: 360px;
    height: 26px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #ffffff;
    text-align: left;
    margin-bottom: 10px;
  }

  .gallery-group1 {
    width: 840px;
    height: 40px;
    /* margin-top: 10px; */
  }

  .gallery-title {
    width: 730px;
    height: 34px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    color: #ffffff;
    text-align: left;
    float: left;
  }

  .gallery-btn {
    width: 100px;
    height: 48px;
    float: left;

    background: #0059f7;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    color: #ffffff;
    padding-top: 13px;
    cursor: pointer;
    margin-left: 115px;
    margin-top: 6px;
  }

  .gallery-titleinput {
    width: 620px;
    height: 69px;

    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    float: left;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */

    color: #7c9cbf;
    padding-left: 16px;
    padding-top: 14.5px;
    margin-bottom: 16px;
  }

  .gallery-edit {
    width: 40px;
    height: 40px;
    margin-left: 28px;
    float: left;

    background: url("../src/img/pencil.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
  }

  .gallery-delete {
    width: 40px;
    height: 40px;
    float: left;

    background: url("../src/img/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
  }

  .gallery-group2 {
    width: 840px;
    height: auto;
    margin-top: 12px;
  }

  .gallery-descinput {
    width: 840px;
    height: 80px;
    margin-bottom: 30px;
    padding-left: 16px;
    padding-top: 16px;
    font-size: 22px;
    line-height: 29px;
    color: #7c9cbf;
    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
  }

  .gallery-desc {
    width: 765px;
    height: 76px;
    float: left;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    color: #d0d0d0;
    text-align: left;
  }

  .gallery-likeGroup {
    height: 76px;
    width: 65px;
    float: left;
  }

  .gallery-unlike {
    width: 40px;
    height: 40px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    float: left;
    background: url("../src/img/Heart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
  }

  .gallery-like {
    width: 40px;
    height: 40px;
    margin-left: 12.5px;
    margin-right: 12.5px;
    float: left;
    background: url("../src/img/FullHeart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
  }

  .gallery-like-comment {
    color: white;
    font-size: 13px;
    word-break: keep-all;
  }

  .gallery-group3 {
    width: 840px;
    height: auto;
    margin-top: 19px;
    display: flex;
    flex-wrap: wrap;
  }

  .gallery-content {
    width: 267px;
    height: 162px;
    margin: 6px;
    border-radius: 10px;
    display: flex;
    position: relative;
  }

  .gallery-content-img {
    width: 267px;
    height: 162px;
    border-radius: 10px;
    border: 1px solid #eaeaea;
    object-fit: contain;
    color: white;
    position: absolute;
  }

  .gallery-content-delete {
    width: 40px;
    height: 40px;
    position: relative;
    background: url("../src/img/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
    position: absolute;
    left: 227px;
  }

  .gallery-nocontent {
    width: 200px;
    height: 150px;
    margin: 200px auto 0 auto;
  }

  .gallery-nocontent-img {
    width: 100px;
    height: 100px;
    background: url("../src/img/noresult.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
    margin-left: 50px;
  }

  .gallery-nocontent-title {
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */
    text-align: center;
    color: #c0c0c0;
    margin: 10px auto 0 auto;
    word-break: keep-all;
    width: 160px;
  }

  /* 갤러리 삭제 모달*/
  .deleteModal-background {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.9);
    display: grid;
    place-items: center;
  }

  .deleteModal {
    width: 300px;
    height: 277px;
    background: #0059f7;
    border-radius: 10px;
    margin: 0px auto 0 auto;
  }

  .delete-img {
    position: relative;
    top: 41px;
    left: 120px;
    width: 70px;
    height: 70px;
    background: url("../src/img/trash.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
  }

  .delete-text {
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
    margin: 68px auto 0 auto;
    word-break: keep-all;
    width: 200px;
  }

  .delete-btn {
    width: 300px;
    height: 34px;
    margin-top: 33px;
  }

  .delete-btn-ok {
    float: left;
    width: 59px;
    height: 24px;
    margin-left: 64px;
    margin-top: 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #ffffff;
    cursor: pointer;
  }

  .delete-btn-cancel {
    float: left;
    width: 100px;
    height: 34px;
    margin-left: 34px;
    background: #ffffff;
    border-radius: 8px;
    border-width: 0px;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    cursor: pointer;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
