.App {
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  /* 사파리에서 폰트가 못생겨보임 - 해결못함 */
  font-family: "Noto Sans KR", sans-serif, "Apple SD Gothic Neo",
    apple sd gothic neo;
  height: 100%;
  margin: 0;
}

@media only screen and (min-width: 769px) {
  /* PC */
  .mainNav {
    height: 104px;
    background-color: #070e27;
    width: 100vw;
    margin-top: 0px;
    border: 1px solid red;
    padding: 27px;
  }

  .mainNav-group-logo {
    float: left;
    width: 158px;
    height: 32px;
    background: url("./img/NavLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 9px;
  }

  .mainNav-group-title {
    float: left;
    width: 114px;
    height: 32px;
    margin-left: 12px;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;
    color: #ffffff;
  }

  .mainNav-search-wrap {
    width: 517px;
    height: 50px;
    border-radius: 15px;
    background: #f0f0f0;
    margin-bottom: 27px;
    padding: 10px;
    display: table;
    table-layout: fixed;
    position: relative;
    text-align: left;
  }

  .Lens {
    background: url("./img/Lens.png");
    background-position: center;
    background-size: contain;
    width: 30px;
    height: 30px;
    display: table-cell;
    vertical-align: middle;
  }

  .mainNav-search {
    width: 445px;
    height: 30px;
    outline: none;
    font-size: 18px;
    line-height: 21px;
    background-color: #f0f0f0;
    border: none;
    position: relative;
    vertical-align: middle;
    display: inline-block;
  }

  .mainNav-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    background-color: #ededed;
    border-radius: 50px;
    padding: 18px;
  }

  .mainNav-create {
    background: url("./img/Add.png");
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
  }

  .mainNav-my {
    background: url("./img/User.png");
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: contain;
  }

  #nav-form {
    width: 600px;
    margin: 0px;
  }

  /* ===== mainFooter =====*/
  .mainFooter {
    height: 275px;
    background: #0a142f;
    padding: 64px 183px 34px;
  }

  .mF-UI {
    height: 177px;
    text-align: left;
  }

  .mF-footer-logo {
    float: left;
    width: 69px;
    height: 85px;
    background-color: #0059f7;
    background: url("./img/footer_logo.png");
    background-position: center;
    background-size: contain;
  }

  .mF-UI-about {
    float: left;
    margin-left: 16%;
    width: 130px;
    height: 67px;
  }

  .mF-UI-title {
    font-size: 18px;
    font-weight: bold;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 29px;
  }
  .mF-UI-text {
    font-size: 14px;
    line-height: 14px;
    color: #ffffff;
    font-weight: 900;
    opacity: 0.7;
    float: left;
    margin-right: 24px;
  }

  .mF-contact {
    display: inline-block;
    width: 326px;
    height: 75px;
    margin-left: 5%;
  }

  .mF-contact-title {
    float: left;
    line-height: 16px;
    color: #ffffff;
  }

  .mF-contact-name {
    float: left;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    margin-right: 11px;
  }

  .contact-back {
    float: left;
    margin-left: 30px;
  }

  .mf-divider {
    margin-top: 40px;
    opacity: 0.15;
    border: 1px solid #ffffff;
  }

  .mF-footer-title {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }

  .mF-footer2 {
    font-weight: 900;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    opacity: 0.75;
    margin-top: 30px;
  }

  /* Login Page */
  .login {
    position: absolute;
    width: 100vw;
    height: auto;
    left: 0px;
    /* top: 104px; */
    top: 104px;
    background: #070e27;
    text-align: center;
  }
  .loginwrap {
    margin: 43px auto;
    width: 840px;
    height: auto;
    /* margin-top: 43px; */
    text-align: center;
  }

  .lin-title {
    display: inline-block;
    width: 100px;
    height: 42px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    /* line-height: 42px; */
    padding: 3px;
    text-align: center;
    color: #ffffff;
  }

  /* Login 페이지 이메일 그룹 */
  .lin-email {
    margin-top: 68px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 114px;
  }

  .lin-email-title {
    width: 400px;
    height: 20px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    color: #d4d4d4;
    text-align: left;
  }

  .lin-email-input {
    width: 400px;
    height: 60px;
    margin-top: 8px;
    border-radius: 6px;
    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    padding-left: 16px;
    color: #000000;
  }

  .lin-email-warning {
    width: 360px;
    height: 18px;
    margin-top: 8px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #ff7171;
    text-align: left;
  }

  /* Login 페이지 비밀번호 그룹 */
  .lin-password {
    width: 400px;
    height: 114px;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
  }

  .lin-password-title {
    width: 400px;
    height: 20px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    color: #d4d4d4;
    text-align: left;
  }

  .lin-password-input {
    width: 400px;
    height: 60px;
    margin-top: 8px;
    border-radius: 6px;
    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    padding-left: 16px;
    color: #000000;
  }

  .lin-password-warning {
    width: 360px;
    height: 18px;
    margin-top: 8px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #ff7171;
    text-align: left;
  }

  /* Login page - 로그인 버튼 */
  #lin-btnLogin {
    width: 400px;
    height: 56px;
    margin-top: 87px;
    margin-left: auto;
    margin-right: auto;
    background: #0059f7;
    border-radius: 8px;
    padding: 0px;
    border: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 133% */
    color: #ffffff;

    cursor: pointer;
  }

  .lin-signup {
    width: 400px;
    height: 60px;
    margin-top: 87px;
    margin-left: auto;
    margin-right: auto;
    padding: 22px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;

    /* identical to box height, or 150% */
    text-decoration-line: underline;
    color: #ffffff;
  }

  .lin-signup-text {
    width: 58px;
    height: 24px;
    cursor: pointer;
    margin: 0px auto;
  }

  .lin-divider {
    width: 400px;
    height: 0px;
    border: 1px solid #3a456f;
    margin: 20px auto 0px auto;
  }

  /* Login page - 소셜 로그인 버튼 */
  .lin-kakao {
    width: 400px;
    height: 61px;
    background-color: #ffe64d;
    border-radius: 6px;
    margin: 41px auto 0px auto;
    padding: 0px;
    border-width: 0px;
    cursor: pointer;
  }

  .lin-kakao-logo {
    float: left;
    width: 40px;
    height: 40px;
    background: url();
    color: black;
    margin: 10.5px 0px 10.5px 7px;
  }

  .lin-kakao-text {
    float: left;
    width: 120px;
    height: 26px;
    margin: 17.5px 140px 17.5px 93px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;
    color: #000000;
  }

  .lin-google {
    width: 400px;
    height: 61px;
    background: #eeeeee;
    border-radius: 6px;
    margin: 41px auto 0px auto;
    padding: 0px;
    border-width: 0px;
    cursor: pointer;
  }

  .lin-google-logo {
    float: left;
    width: 40px;
    height: 40px;
    background: url();
    color: black;
    margin: 10.5px 0px 10.5px 7px;
  }

  .lin-google-text {
    float: left;
    width: 120px;
    height: 26px;
    margin: 17.5px 140px 17.5px 93px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    text-align: center;
    color: #000000;
  }

  /* signup 페이지 */
  .signup {
    position: absolute;
    width: 100vw;
    height: auto;
    left: 0px;
    top: 104px;
    background: #070e27;
    text-align: center;
  }

  .signupwrap {
    width: 840px;
    height: auto;
    margin: 43px auto;
  }

  .signup-title {
    width: 133px;
    height: 43px;
    margin: 0px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 42px;

    color: #ffffff;
  }

  /* signup 페이지 : 이메일 입력 그룹*/
  .signup-email {
    width: 400px;
    height: 114px;
    margin: 68px auto 0px auto;
  }

  .signup-email-title {
    width: 360px;
    height: 20px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */
    color: #d4d4d4;
    text-align: left;
  }

  .signup-email-input {
    width: 400px;
    height: 60px;

    margin-top: 8px;
    margin-bottom: 8px;

    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    padding-left: 16px;
  }

  .signup-email-warning {
    width: 250px;
    height: 18px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #ff7171;
    text-align: left;
  }

  .signup-email-ok {
    width: 250px;
    height: 18px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #0059f7;
    text-align: left;
  }

  .signup-email-check {
    width: 100px;
    height: 34px;

    background: #ffffff;
    border: 1px solid #0880ae;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.0001),
      0px 2px 4px rgba(44, 39, 56, 0.08);
    border-radius: 3px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #5a7fa8;

    position: relative;
    left: 150px;
    bottom: 44px;

    cursor: pointer;
  }

  /* signup 페이지 : 비밀번호 입력 그룹*/
  .signup-password {
    width: 400px;
    height: 114px;
    margin: 62px auto 0px auto;
  }

  .signup-password-warning {
    width: 360px;
    height: 18px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #ff7171;
    text-align: left;
  }

  /* signup 페이지 : 비밀번호 재입력 그룹*/
  .signup-repassword {
    width: 400px;
    height: 114px;
    margin: 26px auto 0px auto;
  }

  /* signup 페이지 : 닉네임 입력 그룹*/
  .signup-nickname {
    width: 400px;
    height: 114px;
    margin: 44px auto 0px auto;
  }

  /* signup 페이지 : 이미지 선택*/
  .signup-image {
    width: 400px;
    height: 20px;
    margin: 95px auto 0px auto;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    /* identical to box height */

    color: #d4d4d4;
    text-align: left;
  }

  .signup-image-group {
    width: 400px;
    height: 98px;
    margin: 26px auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 14px;
  }

  .signup-image-group-1 {
    border: 1px solid white;
    width: 70px;
    height: 70px;
    background: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }
  .signup-image-group-2 {
    border: 1px solid white;
    width: 70px;
    height: 70px;
    background: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }
  .signup-image-group-3 {
    border: 1px solid white;
    width: 70px;
    height: 70px;
    background: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }
  .signup-image-group-4 {
    border: 1px solid white;
    width: 70px;
    height: 70px;
    background: url("");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    cursor: pointer;
  }

  .signup-btn {
    width: 400px;
    height: 56px;
    margin: 70px auto 0px auto;
    background: #0059f7;
    border-radius: 8px;
    border-width: 0px;
    cursor: pointer;
  }

  .signup-btn-text {
    position: relative;
    width: 74px;
    height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */
    color: #ffffff;
    margin: 0px 163px;
    top: 16px;
  }

  /* ===== 랜딩페이지 =====*/
  .landing-main-container {
    height: 935px;
    background-color: #000;
  }

  .landing-main-img {
    background: url("./img/Frame129.png");
    width: 625px;
    height: 524px;
  }

  .landing-main-text {
    position: absolute;
    color: #fff;
    font-size: 64px;
    font-weight: bold;
    margin-top: 315px;
    margin-left: 42px;
    line-height: 80px;
  }

  .landing-main-subt-1 {
    color: #fff;
    font-size: 30px;
    font-weight: lighter;
    line-height: 43px;
    margin-top: 56px;
  }

  .landing-main-subt-1 > hr {
    width: 180px;
    margin: 7px 0 0;
    border: 3px solid #0059f7;
  }

  .landing-main-subt-2 {
    color: #fff;
    margin-top: 104px;
    font-size: 36px;
    line-height: 52px;
    margin-bottom: 99px;
  }

  .landing-2-container {
    height: 562px;
    background-color: #070e27;
    text-align: center;
  }

  .link {
    text-decoration: none;
  }

  .go-to-main-wrap {
    text-align: center;
    background-color: #070e27;
    padding-top: 40px;
  }

  .go-to-main {
    color: #fff;
    font-weight: lighter;
    font-size: 24px;
    text-decoration: underline;
    text-underline-position: under;
  }

  .landing-2-text-box {
    width: 400px;
    height: 300px;
    margin-right: 20px;
    margin-top: 131px;
    display: inline-block;
    vertical-align: middle;
  }

  .landing-2-icon-1 {
    width: 90px;
    height: 90px;
    background: url("./img/icon1.png");
    background-position: center;
    background-size: contain;
  }
  .landing-2-icon-2 {
    width: 90px;
    height: 90px;
    background: url("./img/icon2.png");
    background-position: center;
    background-size: contain;
  }
  .landing-2-icon-3 {
    width: 90px;
    height: 90px;
    background: url("./img/icon3.png");
    background-position: center;
    background-size: contain;
  }

  .landing-2-text-title {
    margin-top: 29px;
    text-align: left;
    font-size: 32px;
    font-weight: bold;
    line-height: 46px;
    color: white;
  }

  .landing-2-img {
    width: 400px;
    height: 300px;
    border: 1px solid red;
    display: inline-block;
    vertical-align: middle;
    margin-top: 131px;
    margin-left: 20px;
    background: url("");
  }

  .landing-2-text-sub {
    color: #787e95;
    text-align-last: left;
    font-size: 22px;
    line-height: 32px;
    margin-top: 23px;
  }

  .landing-start-wrap {
    height: 430px;
    background-color: #070e27;
  }

  .start-box {
    width: 840px;
    height: 328px;
    background-color: #0059f7;
    border-radius: 24px;
  }

  .start-sub {
    padding-top: 72px;
    font-size: 20px;
    line-height: 32px;
    color: #ffffff;
    opacity: 0.5;
  }

  .start-title {
    padding-top: 16px;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
    font-weight: bold;
  }

  .start-btn {
    margin-top: 32px;
    width: 170px;
    height: 64px;
    padding: 20px 24px;
    background: #689eff;
    border-radius: 8px;
    text-align: center;
  }

  .start-btn-text {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    line-height: 24px;
    height: 24px;
    text-align: center;
  }

  .start-btn-arrow {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background: url("./img/arrow-left-fill.png");
  }

  /* ===== Main 메인페이지 ===== */
  .main-back {
    background-color: #070e27;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    color: #fff;
  }

  .main-text {
    font-size: 32px;
    text-align: left;
    margin-bottom: 28px;
  }

  .main-gallery {
    width: 1060px;
    height: 360px;
    border: 1px solid red;
  }

  .main-genre {
    width: 1060px;
    border: 1px solid red;
  }

  .main-genre-category-wrap {
    height: 44px;
    width: 100%;
    text-align: left;
  }

  .main-genre-name {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    margin-right: 12px;
    padding: 0px 20px;
    border-radius: 20px;
    background: #ffffff;
    color: #070e27;
    font-size: 20px;
    cursor: pointer;
  }

  .main-genre-name:hover {
    background-color: #0059f7;
    color: #fff;
    transition: 0.3s;
  }

  /* 선택된 것만 색 변경 */
  .main-genre-name-selected {
    background-color: #0059f7;
    color: #fff;
  }

  .main-genre-img-wrap {
    border: 1px solid red;
    margin-top: 45px;
  }

  /* ===== Search page ===== */
  .search-container {
    background-color: #070e27;
  }
  .search-wrap {
    margin-top: 43px;
    border: 1px solid red;
    width: 840px;
    height: 100vw;
    color: #fff;
  }

  .search-results {
    font-weight: bold;
    font-size: 32px;
    line-height: 37px;
    text-align: left;
    margin-bottom: 38px;
  }

  .results-text {
    font-size: 26px;
    line-height: 30px;
    text-align: left;
    margin-bottom: 23px;
  }

  /* 검색결과 없는 경우 컴포넌트 */
  .no-results-wrap {
    width: 840px;
    height: 160px;
    border: 1px solid #344583;
    box-sizing: border-box;
    border-radius: 8px;
    margin-bottom: 40px;
  }

  .no-results-icon {
    background: url("./img/noresult.png");
    width: 60px;
    height: 60px;
    background-position: center;
    background-size: contain;
    margin: 20px;
  }

  .no-results-text {
    font-size: 18px;
    line-height: 22px;
    color: #c0c0c0;
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
