* {
  box-sizing: border-box;
}

body {
  /* 사파리에서 폰트가 못생겨보임 - 해결못함 */
  /* font-family: "Noto Sans KR", sans-serif, "Apple SD Gothic Neo",
    apple sd gothic neo; */
  height: 100%;
  margin: 0;
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
  /* 태블릿 */
  .mainNav {
    height: 104px;
    margin-top: 0px;
    background-color: #070e27;
    width: 100vw;
  }

  .mainNav-group {
    position: absolute;
    width: 200px;
    height: 40px;
    top: 32px;
    left: 27px;
  }

  .mainNav-group-logo {
    float: left;
    width: 40px;
    height: 40px;
    background: url("../src/img/MainNav-Vector.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 33.33px 30px;
  }

  .mainNav-group-title {
    float: left;
    width: 129px;
    height: 28px;
    margin-left: 7px;
    margin-top: 6px;
    font-family: Sora;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height, or 140% */
    letter-spacing: -0.02em;
    color: #ffffff;
  }

  /* loading 로딩 */
  .loading-wrap {
    z-index: 999;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(13, 14, 44, 1);
    display: grid;
    place-items: center;
  }

  .loading {
    height: 100%;
  }

  /* ===== mainFooter =====*/
  .mF-container {
    background: #0a142f;
    margin: auto;
    bottom: 0;
  }
  .mainFooter {
    height: 224px;
    background: #0a142f;
    border: 1px solid red;
  }

  .footer-wrap {
    height: 91px;
    width: auto;
    text-align: left;
    margin-top: 65px;
    margin-left: 100px;
  }

  .mF-footer-logo {
    float: left;
    width: 55px;
    height: 68px;
    background-color: #0059f7;
    background: url("./img/footer_logo.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  .mF-UI-about {
    float: left;
    margin-left: 70px;
    width: 120px;
    height: 60px;
  }

  .mF-UI-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 16px;
  }
  .mF-UI-text {
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    font-weight: 900;
    opacity: 0.7;
    float: left;
    margin-right: 24px;
  }

  .mF-contact {
    float: left;
    width: 150px;
    height: 80px;
    /* margin-left: 250px; */
  }

  .mF-contact-name {
    float: left;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    margin-right: 16px;
    text-decoration: none;
  }

  .contact-back {
    float: left;
    margin-left: 30px;
  }

  .mf-divider {
    margin-top: 20px;
    opacity: 0.15;
    border: 1px solid #ffffff;
  }

  .mF-footer-title {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
  }

  .mF-footer2 {
    font-weight: 900;
    font-size: 10px;
    line-height: 12px;
    text-align: center;
    color: #ffffff;
    opacity: 0.75;
    margin-top: 17px;
  }

  /* ===== 랜딩페이지 =====*/
  .landing-main-container {
    height: 995px;
    background-color: #000;
  }

  .landing-main-logo {
    float: left;
    width: 158px;
    height: 32px;
    background: url("./img/NavLogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 20px;
    margin-left: 20px;
  }

  .landing-main-img {
    background: url("./img/Frame129.png");
    width: 768px;
    height: 524px;
  }

  .landing-main-text {
    position: absolute;
    color: #fff;
    font-size: 42px;
    font-weight: bold;
    margin: 315px auto;
    line-height: 65px;
    left: 50%;
    transform: translate(-50%);
  }

  .landing-main-subt-1 {
    width: 240px;
    color: #fff;
    font-size: 24px;
    font-weight: lighter;
    line-height: 35px;
  }

  .landing-main-subt-1 > hr {
    width: 145px;
    margin: 7px 0 0;
    border: 2px solid #0059f7;
  }

  .landing-main-subt-2 {
    color: #fff;
    margin-top: 104px;
    font-size: 36px;
    line-height: 52px;
    margin-bottom: 68px;
  }

  .landing-arrow {
    width: 30px;
    height: 30px;
    background: url("./img/arrow_down.png");
    background-position: center;
    background-size: cover;
  }

  .landing-2-container {
    height: 396px;
    background-color: #070e27;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 52px;
  }

  .link {
    text-decoration: none;
  }

  .go-to-main-wrap {
    text-align: center;
    background-color: #070e27;
    padding-top: 40px;
  }

  .go-to-main {
    color: #fff;
    font-weight: lighter;
    font-size: 24px;
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;
  }

  .landing-2-text-box {
    width: 320px;
    height: 300px;
    margin-top: 81px;
    display: inline-block;
    vertical-align: middle;
  }

  .landing-2-icon-1 {
    width: 60px;
    height: 60px;
    background: url("./img/icon1.png");
    background-position: center;
    background-size: contain;
  }
  .landing-2-icon-2 {
    width: 60px;
    height: 60px;
    background: url("./img/icon2.png");
    background-position: center;
    background-size: contain;
  }
  .landing-2-icon-3 {
    width: 60px;
    height: 60px;
    background: url("./img/icon3.png");
    background-position: center;
    background-size: contain;
  }

  .landing-2-text-title {
    margin-top: 13px;
    text-align: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 35px;
    color: white;
  }

  .landing-2-img {
    width: 310px;
    height: 263px;
    border: 1px solid red;
    display: inline-block;
    vertical-align: middle;
    margin-top: 81px;
  }

  .landing-2-text-sub {
    color: #787e95;
    text-align-last: left;
    font-size: 18px;
    line-height: 26px;
    margin-top: 23px;
  }

  .landing-start-wrap {
    height: 340px;
    background-color: #070e27;
    padding-top: 40px;
  }

  .start-box {
    width: 653px;
    height: 255px;
    background-color: #0059f7;
    border-radius: 18.6585px;
    /* margin-top: ; */
  }

  .start-sub {
    padding-top: 55px;
    font-size: 15px;
    line-height: 25px;
    line-height: 32px;
    color: #ffffff;
    opacity: 0.5;
  }

  .start-title {
    padding-top: 12px;
    font-size: 28px;
    line-height: 31px;
    color: #ffffff;
    font-weight: bold;
  }

  .start-btn {
    margin-top: 24px;
    width: 131.51px;
    height: 49.76px;
    padding: 15px 18px;
    background: #689eff;
    border-radius: 6px;
    text-align: center;
  }

  .start-btn-text {
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    line-height: 19px;
    height: 24px;
    text-align: center;
  }

  .start-btn-arrow {
    display: inline-block;
    margin-left: 10px;
    width: 16px;
    height: 16px;
    background: url("./img/arrow-left-fill.png");
    background-position: center;
    background-size: contain;
  }

  /* Login Page */
  .login {
    position: absolute;
    width: 100vw;
    height: 900px;
    left: 0px;
    top: 104px;
    background: #070e27;
  }

  .loginwrap {
    margin: 22px auto;
    width: 400px;
    height: auto;
    text-align: center;
  }

  .lin-title {
    display: inline-block;
    width: 252px;
    height: 34px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    /* line-height: 42px; */
    text-align: center;
    color: #ffffff;
  }

  /* Login 페이지 이메일 그룹 */
  .lin-email {
    margin-top: 79px;
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    height: 106px;
  }

  .lin-email-title {
    width: 360px;
    height: 20px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    color: #d4d4d4;
    text-align: left;
  }

  .lin-email-input {
    width: 360px;
    height: 52px;
    margin-top: 8px;
    border-radius: 6px;
    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    padding-left: 16px;
    color: #000000;
  }

  .lin-email-warning {
    width: 360px;
    height: 18px;
    margin-top: 8px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #ff7171;
    text-align: left;
  }

  /* Login 페이지 비밀번호 그룹 */
  .lin-password {
    width: 360px;
    height: 106px;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
  }

  .lin-password-title {
    width: 360px;
    height: 20px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    color: #d4d4d4;
    text-align: left;
  }

  .lin-password-input {
    width: 360px;
    height: 52px;
    margin-top: 8px;
    border-radius: 6px;
    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    padding-left: 16px;
    color: #000000;
  }

  .lin-password-warning {
    width: 360px;
    height: 18px;
    margin-top: 8px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #ff7171;
    text-align: left;
  }

  /* Login page - 로그인 버튼 */
  #lin-btnLogin {
    width: 360px;
    height: 56px;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
    background: #0059f7;
    border-radius: 8px;
    padding: 0px;
    border: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */
    color: #ffffff;

    cursor: pointer;
  }

  .lin-signup {
    width: 360px;
    height: 60px;
    margin-top: 41px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px auto 36px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    /* identical to box height, or 150% */
    text-decoration-line: underline;
    color: #ffffff;
  }

  .lin-signup-text {
    width: 58px;
    height: 24px;
    cursor: pointer;
    margin: 0px auto;
  }

  .lin-divider {
    width: 360px;
    height: 0px;
    border: 1px solid #3a456f;
    margin: 5px auto 0px auto;
  }

  /* Login page - 소셜 로그인 버튼 */
  .lin-kakao {
    width: 360px;
    height: 52px;
    background-color: #ffe64d;
    border-radius: 6px;
    margin: 32px auto 0px auto;
    padding: 0px;
    border-width: 0px;
    background: url("../src/img/kakao_login_large_wide.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }

  .lin-google {
    width: 360px;
    height: 54px;
    background: #eeeeee;
    border-radius: 6px;
    margin: 16px auto 0px auto;
    padding: 0px;
    border-width: 0px;
    cursor: pointer;
  }

  .lin-google-logo {
    float: left;
    width: 45px;
    height: 46px;
    color: black;
    margin: 4px 0px 4px 4px;
    background: url("../src/img/btn-google.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  .lin-google-text {
    float: left;
    width: 108px;
    height: 23px;
    margin: 14px 126px 17px 77px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    text-align: center;
    color: #000000;
  }

  /* signup 페이지 */
  .signup {
    position: absolute;
    width: 100vw;
    height: auto;
    left: 0px;
    top: 104px;
    background: #070e27;
    text-align: center;
  }

  .signupwrap {
    width: 500px;
    height: auto;
    margin: 22px auto;
  }

  .signup-title {
    width: 252px;
    height: 34px;
    margin: 0px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    color: #ffffff;
  }

  /* signup 페이지 : 이메일 입력 그룹*/
  .signup-email {
    width: 360px;
    height: 106px;
    margin: 79px auto 0px auto;
  }

  .signup-email-title {
    width: 360px;
    height: 20px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    color: #d4d4d4;
    text-align: left;
  }

  .signup-email-input {
    width: 360px;
    height: 52px;

    margin-top: 8px;
    margin-bottom: 8px;

    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    padding-left: 16px;
  }

  .signup-email-warning {
    width: 250px;
    height: 18px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #ff7171;
    text-align: left;
  }

  .signup-email-ok {
    width: 250px;
    height: 18px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #0059f7;
    text-align: left;
  }

  .signup-email-check {
    width: 100px;
    height: 34px;

    background: #ffffff;
    border: 1px solid #0880ae;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.0001),
      0px 2px 4px rgba(44, 39, 56, 0.08);
    border-radius: 3px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #5a7fa8;

    position: relative;
    left: 130px;
    bottom: 44px;

    cursor: pointer;
  }

  /* signup 페이지 : 비밀번호 입력 그룹*/
  .signup-password {
    width: 360px;
    height: 106px;
    margin: 65px auto 0px auto;
  }

  .signup-password-warning {
    width: 360px;
    height: 18px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    color: #ff7171;
    text-align: left;
  }

  /* signup 페이지 : 비밀번호 재입력 그룹*/
  .signup-repassword {
    width: 360px;
    height: 106px;
    margin: 34px auto 0px auto;
  }

  /* signup 페이지 : 닉네임 입력 그룹*/
  .signup-nickname {
    width: 360px;
    height: 106px;
    margin: 52px auto 0px auto;
  }

  /* signup 페이지 : 이미지 선택*/
  .signup-image {
    width: 360px;
    height: 20px;
    margin: 82px auto 0px auto;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    color: #d4d4d4;
    text-align: left;
  }

  .signup-image-group {
    width: 360px;
    height: 88px;
    margin: 18px auto 0 auto;
    display: flex;
    justify-content: space-around;
    align-content: space-around;
  }

  .signup-image-group-1 {
    width: 60px;
    height: 61px;
    background: url("../src/img/UserImage-Jake.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    margin-top: 13px;
  }
  .signup-image-group-2 {
    width: 60px;
    height: 61px;
    background: url("../src/img/UserImage-Meg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    margin-top: 13px;
  }
  .signup-image-group-3 {
    width: 60px;
    height: 61px;
    background: url("../src/img/UserImage-Mili.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    margin-top: 13px;
  }
  .signup-image-group-4 {
    width: 60px;
    height: 61px;
    background: url("../src/img/UserImage-Steven.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    margin-top: 13px;
  }

  .signup-btn {
    width: 360px;
    height: 56px;
    margin: 44px auto 0px auto;
    background: #0059f7;
    border-radius: 8px;
    border-width: 0px;
    cursor: pointer;
  }

  .signup-btn-text {
    position: relative;
    width: 67px;
    height: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 120% */
    color: #ffffff;
    margin: 0px 146px;
    top: 16px;
  }

  .singupModal-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #000000;
  }

  .singupModal {
    width: 300px;
    height: 313px;
    margin: 300px auto 0px auto;
    background: #0059f7;
    border-radius: 10px;
  }

  .suM-image {
    position: relative;
    top: 43px;
    width: 80px;
    height: 80px;
    margin: 43px auto 0px auto;
    background: url("../src/img/Signup-ok.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .suM-text {
    width: 135px;
    height: 48px;
    margin: 56px auto 0px auto;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* or 120% */

    text-align: center;

    color: #ffffff;
    word-break: keep-all;
  }

  .suM-btn {
    width: 100px;
    height: 34px;
    margin: 21px auto 0px auto;

    background: #ffffff;
    border-radius: 8px;
    border-width: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #000000;
    cursor: pointer;
  }

  /* userinfo 페이지 */
  .userinfo {
    position: absolute;
    background: #070e27;
    width: 100vw;
    height: auto;
    padding-bottom: 50px;
  }

  .userinfowrap {
    width: 361px;
    height: auto;
    margin: 120px auto 0 auto;
  }

  .ui-title {
    position: absolute;
    left: 27px;
    top: 22px;
    width: 252px;
    height: 32px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    color: #ffffff;
    text-align: left;
  }

  /* userinfo 페이지 : 프로필 사진 바꾸기 */
  .ui-image {
    width: 60px;
    height: 60px;
    margin: 0px auto 0 auto;

    background: url("../src/img/UserImage-Meg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-radius: 50%;
  }

  .ui-description {
    width: 158px;
    height: 23px;
    margin: 23px auto 0 auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */

    color: #0059f7;
    cursor: pointer;
  }

  .ui-imagegroup {
    width: 360px;
    height: 125px;
    margin: 43px auto 0 auto;
  }

  .ui-imagegroup-title {
    width: 360px;
    height: 20px;
    text-align: left;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    color: #d4d4d4;
  }

  .ui-imagegroup-wrap {
    width: 360px;
    height: 88px;
    margin: 16px auto 0 auto;

    display: flex;
    justify-content: space-around;
    align-content: space-around;
    padding-top: 14px;
  }
  .ui-imagegroup-wrap-1 {
    width: 60px;
    height: 60px;
    background: url("../src/img/UserImage-Jake.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .ui-imagegroup-wrap-2 {
    width: 60px;
    height: 60px;
    background: url("../src/img/UserImage-Meg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .ui-imagegroup-wrap-3 {
    width: 60px;
    height: 60px;
    background: url("../src/img/UserImage-Mili.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  .ui-imagegroup-wrap-4 {
    width: 60px;
    height: 60px;
    background: url("../src/img/UserImage-Steven.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
  }
  /* userinfo 페이지 : 닉네임 */
  .ui-nickname {
    width: 360px;
    height: 142px;
    margin: 24px auto 0 auto;
  }

  .ui-nickname-title {
    width: 360px;
    height: 20px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    color: #d4d4d4;
    text-align: left;
  }

  .ui-nickname-input {
    width: 360px;
    height: 52px;
    margin: 8px auto 8px auto;

    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */
    color: #000000;
    padding-left: 16px;
  }

  .ui-nickname-warning {
    width: 360px;
    height: 18px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #ff7171;
    text-align: left;
  }

  .ui-nickname-ok {
    width: 360px;
    height: 18px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;

    color: #0059f7;
    text-align: left;
  }

  .ui-nickname-check {
    width: 100px;
    height: 34px;

    background: #ffffff;
    border: 1px solid #0880ae;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.0001),
      0px 2px 4px rgba(44, 39, 56, 0.08);
    border-radius: 3px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #5a7fa8;

    position: relative;
    bottom: 44px;
    left: 260px;

    padding-top: 8px;
  }

  /* userinfo 페이지 : 패스워드 */
  .ui-password {
    width: 360px;
    height: 106px;
    margin: 34px auto 0 auto;
  }

  /* userinfo 페이지 : 패스워드 확인 */
  .ui-repassword {
    width: 360px;
    height: 124px;
    margin: 34px auto 0 auto;
  }

  .ui-btn {
    width: 360px;
    height: 56px;
    margin: 41px auto 0 auto;

    background: #0059f7;
    border-radius: 8px;
    border-width: 0px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 120% */

    color: #ffffff;
    cursor: pointer;
  }

  .ui-logout {
    width: 59px;
    height: 24px;
    margin: 52px auto 0 auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-decoration-line: underline;

    color: #ffffff;
    cursor: pointer;
  }

  .ui-signout {
    width: 59px;
    height: 24px;
    margin: 24px auto 0 auto;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-decoration-line: underline;

    color: #ffffff;
    cursor: pointer;
  }

  /* 회원 탈퇴 모달*/
  .singoutModal-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #000000;
  }

  .singoutModal {
    width: 300px;
    height: 235px;
    background: #0059f7;
    border-radius: 10px;
    margin: 390px auto 0 auto;
  }

  .soM-label {
    position: relative;
    top: 88px;
    width: 300px;
    height: 24px;
    margin-top: 24px;
  }

  .soM-label {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height, or 120% */

    text-align: center;

    color: #ffffff;
  }

  .soM-btn {
    position: relative;
    top: 88px;
    width: 300px;
    height: 34px;
    margin-top: 24px;
  }

  .soM-btn-singout {
    float: left;
    width: 59px;
    height: 24px;
    margin-left: 64px;
    margin-top: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-decoration-line: underline;

    color: #ffffff;
    cursor: pointer;
  }

  .soM-btn-cancel {
    float: left;
    width: 100px;
    height: 34px;
    margin-left: 34px;

    background: #ffffff;
    border-radius: 8px;
    border-width: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #000000;
    cursor: pointer;
  }

  /* Post 페이지 */
  .post {
    width: 100vw;
    height: auto;
    background-color: #070e27;
    padding-bottom: 50px;
  }

  .postwrap {
    width: 720px;
    height: auto;
    margin: 0px auto 0px auto;
  }

  .post-title {
    width: 252px;
    height: 34px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    color: #ffffff;
    text-align: left;
  }

  .post-editgroup {
    width: 720px;
    height: 40px;
    margin-top: -11px;
  }

  .post-edit-btn {
    width: 50px;
    height: 32px;
    float: right;
    margin-top: 5px;

    background: #ffffff;
    border: 1px solid #0880ae;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(44, 39, 56, 0.0001),
      0px 2px 4px rgba(44, 39, 56, 0.08);
    border-radius: 3px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;

    color: #5a7fa8;
  }

  .post-edit-edit {
    width: 40px;
    height: 40px;
    float: right;
    background: url("../src/img/pencil.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
  }

  .post-edit-delete {
    width: 40px;
    height: 40px;
    float: right;
    background: url("../src/img/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
  }

  .post-image {
    width: 720px;
    height: 380px;
    margin-top: 12px;
    border-radius: 10px;
    background: #ffffff;
  }

  .post-label {
    width: 720px;
    height: 40px;
    margin-top: 18px;
  }

  .post-label-title {
    width: 397px;
    height: 33px;
    margin-top: 7px;
    float: left;

    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: flex-end;

    color: #ffffff;
  }

  .post-label-like1 {
    width: 40px;
    height: 40px;
    float: right;

    background: url("../src/img/Heart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
  }

  .post-label-like2 {
    width: 40px;
    height: 40px;
    float: right;

    background: url("../src/img/FullHeart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
  }

  .post-desc {
    width: 639px;
    height: 56px;
    margin-top: 23px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: #ffffff;
    text-align: left;
    word-break: keep-all;
    white-space: pre-line;
  }

  .post-editdesc {
    width: 720px;
    height: 68px;
    margin-top: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;

    color: black;
    text-align: left;
    word-break: keep-all;
    white-space: pre-line;
    border-radius: 8px;
    overflow: hidden;
  }

  .post-devider {
    width: 720px;
    height: 0px;
    border: 1px solid #3a456f;
    margin-top: 49px;
  }

  .post-infogroup {
    width: 500px;
    height: max-content;
    margin-top: 12px;
  }

  .post-infogroup-label {
    width: 90px;
    height: 34px;
    margin-left: 6px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    color: #ffffff;
    float: left;
  }

  .post-infogroup-plus {
    width: 50px;
    height: 34px;
    margin-left: 12px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 28px;
    display: flex;
    align-items: center;

    color: #ffffff;
    cursor: pointer;
  }

  .post-infogroup-list {
    list-style-type: disc;
    width: auto;
    height: 22px;
    margin-top: 10px;
    margin-left: 24px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;
    /* or 145% */
    color: #ffffff;
    text-align: left;
  }

  .post-devider2 {
    width: 720px;
    height: 0px;
    border: 1px solid #3a456f;
    margin-top: 12px;
  }

  .post-writecomment {
    width: 720px;
    height: 70px;
    margin-top: 26px;
  }

  .post-wc-image {
    width: 52px;
    height: 52px;
    margin-left: 12px;
    float: left;
    border-radius: 50%;
  }

  .post-wc-input {
    width: 620px;
    height: 52px;
    margin: 1px 0 1px 21px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    background: #ffffff;
    border-radius: 8px;
    border-width: 0px;
    color: #7c9cbf;
    padding-left: 16px;
  }

  .post-wc-submit {
    width: 37px;
    height: 26px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    color: #0059f7;
    position: relative;
    bottom: 37px;
    left: 660px;
    cursor: pointer;
  }

  .post-comments {
    width: 688px;
    height: auto;
    margin-left: 30px;
    margin-top: 26px;
  }

  .post-mycomment {
    width: 688px;
    height: 55px;
    margin-top: 16px;
  }

  .post-mycomment-group1 {
    width: 40px;
    height: 55px;
    float: left;
  }

  .post-mycomment-group1-logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }

  .post-mycomment-group2 {
    width: 634px;
    height: 55px;
    float: left;
    margin-left: 12px;
  }

  .post-mycomment-group2-nickname {
    width: 83px;
    height: 23px;
    margin-top: 0px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    color: #ffffff;
    text-align: left;
  }

  .post-mycomment-group2-comment {
    width: 562px;
    height: 27px;
    margin-top: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #ffffff;
    text-align: left;
  }

  .post-mycomment-group2-delete {
    width: 40px;
    height: 40px;

    background: url("../src/img/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    position: relative;
    bottom: 49px;
    left: 594px;
    cursor: pointer;
  }

  /* Gallery 페이지*/
  .gallery {
    width: 100vw;
    height: auto;
    background: #070e27;
  }

  .gallerywrap {
    width: 720px;
    height: 900px;
    margin: 0px auto 0px auto;
    padding-top: 21px;
  }

  .gallery-nickname {
    width: 360px;
    height: 17px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;

    color: #ffffff;
    text-align: left;
    margin-bottom: 10px;
    margin-left: 1vw;
  }

  /* .gallery-group1 {
    width: 720px;
    height: 40px;
    text-align: left;
  } */

  .gallery-group1 {
    width: 98vw;
    height: 40px;
    text-align: left;
  }

  .gallery-title {
    width: 360px;
    height: 34px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;

    color: #ffffff;
    text-align: left;
    float: left;
  }

  /* .gallery-btn {
    width: 100px;
    height: 34px;
    float: left;

    background: #0059f7;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #ffffff;
    padding-top: 8px;
    cursor: pointer;
    margin-left: 260px;
    margin-top: 10px;
  } */

  .gallery-btn {
    width: 100px;
    /* width: 16vw; */
    height: 34px;
    float: left;

    background: #0059f7;
    border-radius: 8px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;

    color: #ffffff;
    padding-top: 8px;
    cursor: pointer;
    margin-left: 27vw;
    margin-top: 10px;
  }

  /* .gallery-titleinput {
    width: 360px;
    height: 52px;

    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    float: left;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: #7c9cbf;
    padding-left: 16px;
    padding-top: 16px;
    margin-bottom: 16px;
  } */

  .gallery-titleinput {
    /* width: 360px; */
    width: 50vw;
    height: 52px;

    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
    float: left;
    margin-left: 1vw;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height */

    color: #7c9cbf;
    padding-left: 16px;
    padding-top: 16px;
    margin-bottom: 16px;
  }

  .gallery-edit {
    width: 40px;
    height: 40px;
    margin-left: 280px;
    float: left;

    background: url("../src/img/pencil.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
  }

  .gallery-delete {
    width: 40px;
    height: 40px;
    float: left;

    background: url("../src/img/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
  }

  /* .gallery-group2 {
    width: 720px;
    height: auto;
    margin-top: 12px;
  } */

  .gallery-group2 {
    width: 720px;
    height: auto;
    margin-top: 12px;
    text-align: left;
  }

  /* .gallery-descinput {
    width: 720px;
    height: 80px;
    margin-bottom: 30px;
    padding-left: 16px;
    padding-top: 16px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: #7c9cbf;

    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
  } */

  .gallery-descinput {
    width: 97vw;
    height: 80px;
    margin-bottom: 30px;
    margin-left: 1vw;
    margin-right: 1vw;
    padding-top: 16px;
    padding-left: 16px;

    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;

    color: #7c9cbf;

    background: #ffffff;
    border: 1px solid #dbe2ea;
    box-sizing: border-box;
    box-shadow: 0px 4px 8px rgba(44, 39, 56, 0.04);
    border-radius: 6px;
  }

  .gallery-desc {
    width: 675px;
    height: 50px;
    float: left;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #d0d0d0;
    text-align: left;
    margin-top: 10px;
  }

  .gallery-like1 {
    width: 40px;
    height: 60px;
    margin-left: 0px;
    float: left;

    background: url("../src/img/Heart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
  }

  .gallery-like2 {
    width: 40px;
    height: 60px;
    margin-left: 0px;
    float: left;

    background: url("../src/img/FullHeart.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
  }

  /* .gallery-group3 {
    border: 1px solid white;
    width: 720px;
    height: auto;
    margin-top: 19px;
    display: flex;
    flex-wrap: wrap;
  } */

  .gallery-group3 {
    border: 1px solid white;
    width: 98vw;
    height: auto;
    margin-top: 19px;
    margin-left: 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .gallery-content {
    width: 31vw;
    height: 140px;
    margin-top: 0.5vw;
    margin-left: 1vw;
    background: #ffffff;
    border-radius: 5px;
    position: relative;
  }

  .gallery-content-img {
    width: 31vw;
    height: 140px;
    background: #ffffff;
    border-radius: 10px;
    position: absolute;
  }

  .gallery-content-delete {
    width: 40px;
    height: 40px;
    position: absolute;
    /* left: 190px; */
    /* left: 25vw;
    bottom: 145px; */
    background: url("../src/img/delete.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
  }

  .gallery-nocontent {
    width: 200px;
    height: 150px;
    margin: 200px auto 0 auto;
  }

  .gallery-nocontent-img {
    width: 100px;
    height: 100px;
    background: url("../src/img/noresult.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: none;
    cursor: pointer;
    margin-left: 50px;
  }

  .gallery-nocontent-title {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height, or 122% */

    text-align: center;

    color: #c0c0c0;
    margin-top: 10px;
  }

  /* 갤러리 삭제 모달*/
  .deleteModal-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: #000000;
  }

  .deleteModal {
    width: 300px;
    height: 277px;
    background: #0059f7;
    border-radius: 10px;
    margin: 265px auto 0 auto;
  }

  .delete-img {
    position: relative;
    top: 41px;
    left: 120px;
    width: 70px;
    height: 70px;

    background: url("../src/img/trash.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 80px;
  }

  .delete-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;
    /* identical to box height, or 100% */

    color: #ffffff;
    margin-top: 68px;
  }

  .delete-btn {
    width: 300px;
    height: 34px;
    margin-top: 53px;
  }

  .delete-btn-ok {
    float: left;
    width: 59px;
    height: 24px;
    margin-left: 64px;
    margin-top: 5px;

    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-decoration-line: underline;

    color: #ffffff;
    cursor: pointer;
  }

  .delete-btn-cancel {
    float: left;
    width: 100px;
    height: 34px;
    margin-left: 34px;

    background: #ffffff;
    border-radius: 8px;
    border-width: 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    color: #000000;
    cursor: pointer;
  }
}
